@stylex stylesheet;

/* reset.css */
/* CSS Remedy */
*,::after,::before{box-sizing:border-box}
html{line-sizing:normal}
body{margin:0}
[hidden]{display:none}
pre{white-space:pre-wrap}
hr{border-style:solid;border-width:1px 0 0;color:inherit;height:0;overflow:visible}
audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle;max-width:100%}
audio:not([controls]){display:none}
picture{display:contents}
source{display:none}
canvas,img,svg,video{height:auto}
audio{width:100%}
img{border-style:none}
svg{overflow:hidden}
[type=checkbox],[type=radio]{box-sizing:border-box;}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-size: 16px;
  background-color: var(--md-sys-color-background);
}
:root {
  /* Font Family */
  --font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  /* Transition Timing Function */
  --transition-linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  --transition-ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
  --transition-ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
  --transition-ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
  --transition-ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
  --transition-ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  --transition-ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  --transition-ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  --transition-ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
  --transition-ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  --transition-ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  --transition-ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  --transition-ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  --transition-ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  --transition-ease-in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
  --transition-ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  --transition-ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  --transition-ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  --transition-ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
  --transition-ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
  --transition-ease-in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
  --transition-ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  --transition-ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  --transition-ease-in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335);
  --transition-ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --transition-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  --transition-ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  --transition-ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  --transition-ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  --transition-ease-in-elastic: cubic-bezier(0.950, 0.050, 0.795, 0.035);
  --transition-ease-out-elastic: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  --transition-ease-in-out-elastic: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  --transition-ease-in-bounce: cubic-bezier(0.600, 0.040, 0.980, 0.335);
  --transition-ease-out-bounce: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  --transition-ease-in-out-bounce: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
/* タッチに対して青色のオーバーレイを非表示にする */
a:active, a:hover, button:active, button:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}